{% extends "inicio.html" %}
{% block titulo %}
    Cargo 
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Css/form.css' %}">
{% endblock %}

{% block contenido %}
<section class="form-container">
    <div class="form-header">
        <h1>Formulario de Empleado</h1>
    </div>
    <form method="POST" id="form-departamento" class="form">
        {% csrf_token %}
        <h2> ¿Desea eliminar el empleado =>
                <span style="color:red;">{{empleado.id}}-{{empleado.nombre}}</span>
        </h2>
        <button style="background:red; border-radius: 5px; padding: 5px;"
            type="submit">Eliminar </button>
        <a style="display: block;background: green; border-radius: 5px; padding: 5px; text-align: center"
            href="{% url 'empleadoLista' %}">Cancelar</a>
        </form>

</section>
{% endblock %}